html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: .815rem;
}

/* Split */

.gutter {
    background-color: #e9e9e9;
}

.gutter.gutter-horizontal {
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    cursor: ns-resize;
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.navbar {
    margin: 0;
    padding: 0;
    padding-left: 2rem;
    min-height: 5%; 
}

.navbar-brand {
    font-weight: light;
    font-size: 1.1rem;
}

.nav-right {
    float: right;
}

.light-text  {
    color: #777777;
}

.nav-container {
    margin: 0px 0px 0px 0px;
}

#left-container {
    padding: 0;
    margin: 0;
    height: 100%;
}

#right-container {
    height: 100%;
    padding: 0;
    margin: 0;
}

.line {
    width: 100%;
    height: 95%;
    padding: 0;
    margin: 0;
}

#play-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#run-area {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.CodeMirror {
    border: 0;
    height: 100%;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

/* Align all navbar items to left when navbar is collapsed */
@media (max-width: 992px) {
    .nav-right {
        float: none !important;
    }
}

@media (max-height: 850px) {
    .line {
        height: 94%;
    }

    .navbar {
        min-height: 6%;
    }
}


@media (max-height: 450px) {
    .line {
        height: 90%;
    }

    .navbar {
        min-height: 10%;
    }
}


@media (max-height: 400px) {
    .line {
        height: 90%;
    }

    .navbar {
        min-height: 20%;
    }
}

ul.nav a:hover { color: #f33 !important; }

.navbar-brand:hover {color: #f33 !important; }