html, body {
  padding: 0;
  margin: 0;
}

.quad {
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.left-container {
  border-right: 1px solid gray;
}

.right-container {
  border-left: 1px solid gray;
}

.line {
  margin-top: 32px;
  width: 100%;
  min-height: 100%;
}

.equal, .equal > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 0 auto;
}

.CodeMirror {
    border: 0;
    height: auto;
}

.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}
